Faker
aws-lambda-context
boto3
locust
moto
pandas
pytest
pytest-bdd
pytest-cov
pytest-flakefinder
pytest-html
pytest-icdiff
pytest-replay
pytest-rerunfailures
pytest-sugar
pytest-xdist
requests
responses
ruff == 0.0.271
testfixtures
vulture
