Faker
aws-lambda-context
aws_lambda_powertools
bandit
boto3
coverage
isort
locust
moto
mutmut
pandas
pytest
pytest-cov
pytest-flakefinder
pytest-html
pytest-icdiff
pytest-replay
pytest-rerunfailures
pytest-sugar
pytest-xdist
requests
responses
testfixtures
vulture
git+https://github.com/pytest-dev/pytest-bdd.git@master
