Faker
aws-lambda-context
bandit
boto3
coverage
isort
locust
moto
mutmut
pandas
pytest
pytest-bdd==6.0.1
pytest-cov
pytest-flakefinder
pytest-html
pytest-icdiff
pytest-replay
pytest-rerunfailures
pytest-sugar
pytest-xdist==3.2.1
requests
responses
testfixtures
vulture
