/.github @NHSDigital/data-sourcing-ftrs/maintainers
/build/automation/lib @NHSDigital/data-sourcing-ftrs/maintainers
/build/automation/init.mk @NHSDigital/data-sourcing-ftrs/maintainers
/.gitignore @NHSDigital/data-sourcing-ftrs/maintainers
/project.code-workspace @NHSDigital/data-sourcing-ftrs/maintainers
