!project.code-workspace
*.code-workspace
*.egg
*.egg-info/
.DS_Store
.Python
.eggs/
.idea
.installed.cfg
.java-version
.mypy_cache
.nvmrc
.python-version
.scannerwork
.serverless
develop-eggs/
dist/
downloads/
eggs/
env/
lib/
lib64/
node_modules/
parts/
sdist/
